extends layout

block content
  .row.page-header
    .col-lg-12
      p= pageHeader.title
      if number > 100
        a.btn.btn-info.pull-right(href="/newanswer/#{question._id}") Add Answer
  .row
    if number > 100
      a.btn.btn-warning.pull-right(href="/deletequestion/#{question._id}") Delete this!!!
    .col-xs-12.col-md-9
        each answer in answers
          p= answer.answer
        
        