extends layout

block content
  .row.page-header
    .col-lg-12
      h1= pageHeader.title
  .row
    .col-xs-12.col-md-6
      //form.form-horizontal(action="/", method="get", role="form")
      form.form-horizontal(action="", method="post", role="form")
        - if (error == "val")
          .alert.alert-danger(role="alert") All fields required, please try again
        //.form-group
          label.col-xs-10.col-sm-3.control-label(for="number") Number
          .col-xs-12.col-sm-9
            input#number.form-control(name="number")
        .form-group
          label.col-xs-10.col-sm-3.control-label(for="answer") Answer
          .col-xs-12.col-sm-9
            input#question.form-control(name="answer")
        
        button.btn.btn-default.pull-right Add Answer
    .col-xs-12.col-md-4